.header {
    display: flex;
    flex-wrap: wrap;
        padding: 0 20px;
    justify-content: space-between;
        align-items: center;
}


.logo {
    width: 120px;
    cursor: pointer;
}


.nav-items>ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

.nav-items>ul>li:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.link {
    text-decoration: none;
    color: none;
    background-color: none;
    text-decoration-line: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

.link:hover {
    text-decoration: none;
    color: #fff;
    border-color: #343a40;
    background-color: #343a40;
    text-decoration-line: none;
}
/**************************    Body     ***************************/

.search {
    padding: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
        gap: 10px;
        
}

.res-card {
/* 
    */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: #f0f0f0;
    padding: 5px;
        margin: 10px;
}


.res-card:hover {
    border: 1px solid black;
    transition: 0.3s ease-in-out;
        cursor: pointer;
}
.res-logo {
    width: 100%;
    border-radius: 1em;
}

/**************************   Footer  **********************************/